{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
    <div>
        <h2><a href="../public/index.php?route=post&postId={{ post.id }}">{{ post.title }}</a></h2>
        <p>Slug : {{ post.slug }}</p>
        <p>Intro : {{ post.shortText }}</p>
        <p>Contenu : {{ post.text }}</p>
        <p>Username : {{ post.user.username }}</p>
        <p>UserId : {{ post.user.id }}</p>
        <p>Créé le : {{ post.createdAt|date('Y-m-d H:i:s') }}</p>
    </div>
    <br>
{% endblock %}
