{% extends 'admin/base.html.twig' %}
{% import "form/_form.html.twig" as _form %}

{% block title %}Edit a post{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <h5 class="card-title text-center">Edit a post</h5>
            <div class="card">
                <div class="card-body">
                    <form name="post" method="POST">
                        {{ _form.message_csrf(form) }}
                        <div class="form-group">
                            <label for="title">Title</label>
                            {% if form.data.slug is not null %}
                                <input type="text" class="form-control" value="{{ form.title }}" readonly>
                            {% else %}
                                <input type="text" class="form-control" name="title"  id="title" value="{{ form.title }}" minlength="10" maxlength="100" required>
                                <small id="isPublishedHelp" class="form-text text-muted">The title can't be modified after publication.</small>
                                {% if form.errors.title is not null %}<div class="invalid-feedback">{{ form.errors.title }}</div>{% endif %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="lead">Lead</label>
                            <textarea class="form-control" name="lead" id="lead"  minlength="50" maxlength="300" rows="6" required>{{ form.lead }}</textarea>
                            {% if form.errors.lead is not null %}<div class="invalid-feedback">{{ form.errors.lead }}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" name="content" id="content"  minlength="100" maxlength="1500" rows="10" required>{{ form.content }}</textarea>
                            {% if form.errors.content is not null %}<div class="invalid-feedback">{{ form.errors.content }}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <select class="form-control" name="author" id="author">
                                    <option>Select an author</option>
                                {% for author in form.authors %}
                                    <option value="{{ author.uuid }}" {% if author.username is same as(form.author.username) %}selected{% endif %}>
                                        {{ author.username }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if form.errors.author is not null %}<div class="invalid-feedback">{{ form.errors.author }}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="is_published" id="is_published1" value="0" {% if form.isPublished == 0 %}checked{% endif %}>
                                <label class="form-check-label" for="is_published1">Don't publish</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="is_published" id="is_published2" value="1" {% if form.isPublished %}checked{% endif %}>
                                <label class="form-check-label" for="is_published2">Publish</label>
                            </div>
                            <small class="form-text text-muted">You can save now and publish later.</small>
                        </div>
                        {{ _form.input_csrf(csrf_token()) }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/form.css">
{% endblock %}