{% extends 'admin/base.html.twig' %}

{% block title %}Post Management{% endblock %}

{% block body %}
    <div class="row">
        <aside class="col-12 mb-3">
            <div class="row justify-content-between">
                <div class="col-12 col-sm-auto m-3">
                    <a href="{{ path('admin_post_create') }}">
                        <button class="btn btn-success btn-block">Create a post</button>
                    </a>
                </div>
                <div class="col-12 col-sm-auto m-3">
                    <form method="GET">
                        <div class="form-row">
                            <div class="col-12 col-sm-auto">
                                <input type="text" class="form-control" name="q"  id="q" value="{{ searchTerms }}" required>
                            </div>
                            <div class="col-12 col-sm-auto">
                                <button type="submit" class="btn btn-secondary btn-block">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
        <section class="col mx-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Last Modified</th>
                        <th scope="col">Published</th>
                        <th scope="col"><i class="bi bi-gear-fill"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in pagination %}
                        <tr>
                            <th scope="row">{{ loop.index + pagination.offset }}</th>
                            <td>{{ post.title }}</td>
                            <td>{{ post.updatedAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                {%- if post.isPublished is same as(true) -%}
                                    Yes
                                {%- else -%}
                                    No
                                {%- endif -%}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-12 col-sm-auto p-0">
                                        <a href="{{ path('admin_post_edit', {id: post.id}) }}">
                                            <button class="btn btn-info"><i class="bi bi-pen"></i></button>
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-auto p-0">
                                        <form method="POST" action="{{ path('admin_post_delete', {id: post.id}) }}">
                                            {% import "form/_form.html.twig" as _form %}
                                            {{ _form.input_csrf(csrf_token()) }}
                                            <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row"></th>
                            <td colspan="3">No posts created</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'pagination/_pagination.html.twig' %}
        </section>
    </div>
{% endblock %}
