{% extends 'base.html.twig' %}

{% block header %}
    {% set currentRoute = app.request.attributes.get('route') %}
    <header class="navbar navbar-expand-sm navbar-dark" style="background-color: #666699;">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item disabled{% if currentRoute in ['admin_dashboard', 'admin_dashboard_post_draft'] %} active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item{% if currentRoute is same as('admin_post_index') %} active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_post_index') }}">Posts</a>
                </li>
                <li class="nav-item{% if currentRoute is same as('admin_user_index') %} active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_user_index') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}" style="color: #ddddbb">Quit</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="headerNav">
            <ul class="navbar-nav ml-auto">
                {% if app.user is not null %}
                    <form name="logout" method="POST" action="{{ path('logout') }}">
                        {% import "form/_form.html.twig" as _form %}
                        {{ _form.input_csrf(csrf_token()) }}
                        <button type="submit" class="float-right btn my-2 my-sm-0" style="color: #99ccff; background-color: #666699">Logout</button>
                    </form>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-right" href="{{ path('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="{{ path('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <span class="navbar-brand mb-0 h1 d-none d-sm-block">{{ app.user.username }}</span>
        {% endif %}
    </header>
{% endblock header %}