{% set pageNumber = pagination.pageNumber %}
{% set pagesTotal = pagination.pagesTotal %}
{% if pageNumber is not null and pagesTotal is not null and pagination.items is not null %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item{% if pageNumber is same as(1) %} disabled{% endif %}">
                <a class="page-link" href="?page=1">First</a>
            </li>
            {% if pageNumber > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{% if pageNumber <= 1 %}#{% else %}?page={{ pageNumber - 1 }}{% endif %}">
                        {{ pageNumber - 1 }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ pageNumber }}</a>
            </li>
            {% if pageNumber < pagesTotal %}
                <li class="page-item">
                    <a class="page-link" href="{% if pageNumber >= pagesTotal %}#{% else %}?page={{ pageNumber + 1 }}{% endif %}">
                        {{ pageNumber + 1 }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item{% if pageNumber is same as(pagesTotal) %} disabled{% endif %}">
                <a class="page-link" href="?page={{ pagesTotal }}">Last</a>
            </li>
        </ul>
    </nav>
{% endif %}