{% extends 'admin/base.html.twig' %}
{% import "form/_form.html.twig" as _form %}

{% block title %}Dashboard - Comments to validate{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <aside class="col-12 mb-5">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link{% if currentRoute is same as('admin_dashboard_comment') %} active{% endif %}" href="{{ path('admin_dashboard_comment') }}">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if currentRoute is same as('admin_dashboard_post_draft') %} active{% endif %}" href="{{ path('admin_dashboard_post_draft') }}">Draft Posts</a>
                </li>
            </ul>
        </aside>
        <div class="col-12 col-md-10">
            <div>
                <p class="text-center">Recent comments to validate or delete</p>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Comment</th>
                        <th scope="col"><i class="bi bi-gear-fill"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in pagination %}
                        <tr>
                            <th scope="row">{{ loop.index + pagination.offset }}</th>
                            <td style="max-width: 760px">
                                By <b style="color: slategrey">{{ comment.user.username ?: 'Deleted account' }}</b>,
                                <span class="text-secondary">{{ comment.updatedAt|date('M d, Y, H:i') }}</span>
                                <br><br>
                                {{ comment.content|nl2br }}<br><br>
                                <b>Post</b>: <a href="{{ path('post_show', {slug: comment.post.slug}) }}">{{ comment.post.title }}</a>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-12 col-sm-auto p-0 pr-1 pb-1">
                                        <form method="POST" action='{{ path('admin_comment_validate', {uuid: comment.uuid}) }}'>
                                            <button type="submit" class="btn btn-success"><i class="bi bi-check2"></i></button>
                                            {{ _form.input_csrf(csrf_token()) }}
                                        </form>
                                    </div>
                                    <div class="col-12 col-sm-auto p-0">
                                        <button type="button" class="btn btn-danger js-button-delete" data-url="{{ path('admin_comment_delete', {uuid: comment.uuid}) }}">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row"></th>
                            <td colspan="3">No drafts</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'pagination/_pagination.html.twig' %}
        </div>
    </div>
    {% include 'modal/_confirm_delete.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <script src="/js/modal.js"></script>
{% endblock %}