<html>
    <body>
        <p style="color: #47476b; text-align: center; font-size: 150%; font-weight: bold">MyWebsite</p>
        <hr>
        <p>Hello <span style="color: #47476b; font-size: 110%;">{{ recipient.username }}</span>, you have receive a message:</p>
        <br/>
        <p style="font-weight: bold">Subject: <span style="color: #47476b; font-size: 110%; margin-left: 15px;">{{ form.subject }}</span></p>
          
        <p style="color: #47476b; font-size: 110%;">{{ form.content|nl2br }}</p>

        <br>
        <p>By <span style="color: #47476b; font-size: 110%;">{{ form.user.username }}</span> ({{ form.user.email }}), {{ form.createdAt|date('M d, Y, H:i:s') }}.</p>
        
        <br>
        <p style="font-style: italic;">Click <a href="{{ url('login') }}" target="_blank">here</a> to go to MyWebsite.</p>
    </body>
</html>